/************/
/** MAIN PUBLISH **/
/************/

.publish-large{
    background-color: rgb(234, 234, 234);
    padding : 20px 0px;
}

.container-publish {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.container-publish form {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 90%;
    gap:10px;
   
}

.bloc-offer-publish {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color:  rgb(249, 249, 249);
    border: 1px solid rgb(144, 144, 144);
    padding : 20px;
    gap:10px;
    border-radius:2px;
}

.form-input {
	display: flex;
	justify-content: space-between;
    align-items: center;
    width:90%;
}

label {
    width:90px;
}

input{
    flex : 1 1;
    border:none;
    height: 20px;
    padding:5px;
    border: 1px solid rgb(238, 238, 238);
    border-radius:2px;
}